.HeaderRow {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	top: 0;
	left: 0;
}

.HeaderRow .left {
	margin-left: 20px;
	margin-right: auto;
}

.HeaderRow .right {
	margin-right: 40px;
	margin-left: auto;
	font-size: medium;
	color: #1976d2;
}

.GameSpaceVertical {
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: default;
}

.CenterAligning {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.grid-container {
	display: flex;
	max-width: 85vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.MuiSlider-markLabel {
	color: #e0e3df !important;
}

.DiagonalModeMessage {
	font-size: 1rem;
	cursor: default;
}

h5 {
	margin-bottom: 10px;
}

.top-padding {
	padding-top: 10px;
}
