.instruction-module {
	background-color: #0f1116;
	color: white;
}

.padded {
	padding: 2px 0px 0px 15px;
}

.instruction-module Button {
	margin-top: 10px;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center {
	text-align: center;
}
